/*
Theme Name: Woostify Child
Theme URI: https://woostify.com
Template: woostify
Author: Woostify
Author URI: https://woostify.com/about
Description: Woostify is fast, lightweight, responsive and super flexible WooCommerce theme built with SEO, speed, and usability in mind. The theme works great with any of your favorite page builder likes Elementor, Beaver Builder, SiteOrigin, Thrive Architect, Divi, etc. Therefore, you can build any type of websites like shop, business agencies, corporate, portfolio, education, university portal, consulting, church, restaurant, medical and so on. Woostify is compatible with all well-coded plugins, including major ones like WooCommerce, OrbitFox, Yoast, BuddyPress, bbPress, etc. Learn more about the theme and ready to import demo sites at https://woostify.com
Tags: e-commerce,two-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,featured-images,full-width-template,threaded-comments,rtl-language-support,footer-widgets,sticky-post,theme-options
Version: 2.1.1.1652182960
Updated: 2022-05-10 11:42:40
Developed for Helmstedt Showroom SS23

*/

@font-face { 
    font-family: WindsorD; 
    src: url(http://frederikkekaysen.com/kea/12_helmstedt_exam/wordpress3/wp-content/themes/woostify-child/fonts/windsor/windsord-webfont.woff2); 
    font-weight: normal; 
}

@font-face { 
    font-family: EddieOT; 
    src: url(http://frederikkekaysen.com/helmstedt/showroomfw22/wordpress/wp-content/themes/woostify-child/fonts/EddieOT-Regular.otf); 
    font-weight: normal; 
}

/* body {
    background-image: url('https://frederikkekaysen.com/kea/12_helmstedt_exam/wordpress3/wp-content/uploads/2022/05/gradient-1.png') ;
    height: 2000px;
    background-image: repeating-linear-gradient(blue, green) !important;
    background-repeat: repeat;
    background-attachment:scroll !important;
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, red 85%);
    background: linear-gradient(55deg, #0fb8ad, #1fc8db, red);
} */

body {
    background-image: url("https://frederikkekaysen.com/kea/12_helmstedt_exam/wordpress3/wp-content/uploads/2022/05/gradient-1.png") !important;
    background-size: cover;
    /* background-repeat: repeat; */
    /* background-attachment: fixed; */
}

#view {
    height: auto !important;
}


h1 {
    font-family: "EddieOT" !important;
    font-weight: 400 !important;
    color: #90C558 !important;
    margin-top: -20px;
    font-size: 2rem;
}

h2 {
    font-family: "WindsorD" !important;
    font-weight: 300 !important;
    color: #2D3C79 !important;
}

h3 {
    font-family: "EddieOT" !important;
    font-weight: 400 !important;
    color: #90C558 !important;
    font-size: 2.8rem !important;
}

h4 {
    font-family: "WindsorD" !important;
    font-weight: 300 !important;
}

h5 {
    font-family: "WindsorD" !important;
    font-weight: 300 !important;
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-top: 30px !important;
    margin-bottom: 30px;
    color: rgba(61,79,155,1);
}

p {
    font-family: "WindsorD";
    color: #484848;
    font-size: 1.15rem;
}

/* MENU */

.menu-item-text {
    font-family: "WindsorD" !important;
}

.primary-navigation > li > a {
    font-family: "WindsorD" !important;
    font-weight: 500 !important;
}

.site-header-inner {
    border-bottom: 0px solid #CDD8E6;
}

/* .has-header-transparent.header-transparent-for-all-devices .site-header {
    position: relative;
} */

#view {
    height: 100vh;
}

/* FOOTER */
.site-infor-col {
    font-family: "WindsorD" !important;
    font-size: 1rem;
}

.site-footer {
    height: 80px;
}

/* FRONT PAGE - placering af figurer + hoveranimationer */

.frontpage-background {
margin-top: -50px !important;
margin-bottom: -100px !important;
}

.frontpage-logo {
    position: absolute;
    top: 3vw;
    left: 1.8vw;
    width: 50vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.frontpage-logo:hover {
    transform: scale(1.03);
    transform-origin: center;
    cursor: pointer;
}

.roots {
    position: absolute;
    top: 10.5vw;
    left: 3.4vw;
    width: 20vw;
    transform: rotate(-2deg);
}

.towel-contact {
    position: absolute;
    position: absolute;
    top: 23.8vw;
    left: 15.3vw;
    width: 10vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    filter: saturate(115%);
    /* margin-top: 25px; */
}

.towel-contact:hover {
    transform: scale(1.1);
    transform-origin: top left;
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 2px 2px #f1f6fe);
    filter: drop-shadow(0px 2px 2px #f1f6fe);
}

.jordbaerhus {
    position: absolute;
    top: 1.6vw;
    right: 11.1vw;
    width: 35.7vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    filter: saturate(110%);
}

.jordbaerhus:hover {
    transform: scale(1.04);
    transform-origin: bottom center;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 3px 3px #f1f6fe);
    filter: drop-shadow(2px 3px 3px #f1f6fe);
}

.pr-svamp {
    position: absolute;
    top: 37.8vw;
    left: 28.5vw;
    width: 9vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    z-index: 100;
    filter: saturate(110%);
}

.pr-svamp:hover {
    transform: scale(1.11);
    transform-origin: bottom center;
    /* transform: rotate(3deg); */
    cursor: pointer;
    -webkit-filter: drop-shadow(0px 2px 2px #f1f6fe);
    filter: drop-shadow(0px 2px 2px #f1f6fe);
}

.barnevogn {
    position: absolute;
    top: 25.1vw;
    left: 29.5vw;
    width: 15.4vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    z-index: 1;
    filter: saturate(115%);
}

.barnevogn:hover {
    transform: scale(1.06);
    cursor: pointer;
    transform-origin: 60% 20%;
    -webkit-filter: drop-shadow(0px 1px 1px #f1f6fe);
    filter: drop-shadow(0px 1px 1px #f1f6fe);
}

.yogaflue {
    position: absolute;
    top: 38.7vw;
    left: 47vw;
    width: 21vw;
    transition: all .3s ease-in-out;
    cursor: pointer;
    filter: saturate(115%);
}

.yogaflue:hover {
    transform: scale(1.1);
    cursor: pointer;
    transform-origin: bottom 20%;
    -webkit-filter: drop-shadow(0px 2px 2px #f1f6fe);
    filter: drop-shadow(0px 2px 2px #f1f6fe);
}

@media screen and (min-width: 1000px) {
    .baggrund-mobil {
        display: none;
    }

    .frontpage-menu-buttons-mobile {
        display: none !important;
    }

    .mobil-menu-forside {
        display: none;
    }
}

/* FORSIDE MOBIL */

@media screen and (max-width: 1000px) {

    .pr-svamp, .yogaflue, .jordbaerhus, .frontpage-background, .barnevogn, .towel-contact  {
        display: none;
    }

    .baggrund-mobil {
        margin-top: -50px !important;
        margin-bottom: -100px !important;
    }

    .baggrund-mobil, .wp-block-image.alignfull img, .wp-block-image.alignwide img {
        overflow: hidden;
        width: auto;
        height: 100vh !important;
        width: 100vw !important;
        object-fit: cover;
    }

    .frontpage-menu-buttons-mobile {
        position: relative;
        top: -65vh;
        height: 70%;
    }

    .mobil-menu-forside {
        font-family: WindsorD;
        font-size: 1.4rem;
        -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
        filter: drop-shadow(0px 2px 2px #cccccc);
    }

    .content-area #post-43 {
        height: 89vh !important;
    }

    .frontpage-logo {
        position: absolute;
        top: 3.5vw;
        left: 1.8vw;
        width: 50vw;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    .roots {
        position: absolute;
        top: 11.5vw;
        left: 3.4vw;
        width: 20vw;
        transform: rotate(-2deg);
    }
}

@media screen and (max-width: 600px) {
    .frontpage-logo {
        position: absolute;
        top: 6vw;
        left: 1.8vw;
        width: 85vw;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    .roots {
        position: absolute;
        top: 18.5vw;
        left: 3.4vw;
        width: 34vw;
        transform: rotate(-2deg);
    }
}

/* ATELIER */
.atelier-welcome {
    font-size: 7.2vw;
    line-height: 7.2vw;
}

.spinning-plate {
    -webkit-animation: spin-plate 12s linear infinite;
    -moz-animation: spin-plate 12s linear infinite;
    animation: spin-plate 12s linear infinite;
}

@keyframes spin-plate { 
    100% { 
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
    } 
}

h2.the-history-headline {
    font-size: 3rem !important;
    color: #2D3C79 !important;
}

.history-content {
    max-width: 1000px !important;
}

#post-18 > div:nth-child(4) > div > div {
    display: flex;
    justify-content: center;
}

#post-19 > div:nth-child(4) > div > div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px !important;   
}

.atelier-helmstedthouse {
    max-width: 500px;
}

.atelier-where-it-started {
    max-width: 500px;
}

.atelier-emilie-helmstedt {
    max-width: 500px;
}

.atelier-emilieportrait {
    max-width: 450px;
}

.create-section {
    max-width: 500px;
}

.wp-container-15, .wp-container-17 {
    justify-content: center !important;
}

/* LOOKBOOK PAGE*/
._df_book {
    margin-top: -50px;
}

.df-book-wrapper {
margin-top: 50px !important;
}

.df-ui-btn {
    color: #90C558 !important;
}

@media screen and (max-width: 700px) {
    ._df_book {    
        height: 580px !important;
    }
}

/* COLLECTION */
.woostify-sorting {
    display: none;
}

#main > header > div > div > ul {
    float: left;
    list-style: none;
    justify-self: center;
    display: flex;
    text-align: center;
    text-decoration: none !important;
}

.wc-block-product-categories-list-item {
    padding: 0 18px 0 0px;
}


/* SINGLE VIEW */

.product_title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.easyzoom-flyout:hover {
    background-color: #f1f6fe;
}


/* SAVED STYLES / WHISHLIST */

/* #yith-wcwl-form {
    margin: 0 5vw 0 5vw;
} */

.show-title-form {
    display: none;
}

.yith-wcwl-share-title {
    visibility: hidden;
}

.yith-wcwl-share-title:after {
    content: 'Copy the link below to share your list' !important;
    visibility: visible;
    font-size: 1.5rem;
}

.yith-wcwl-share h4.yith-wcwl-share-title {
    margin-left: -50px;
}

.copy-trigger {
    content: "hej";
}

#yith-wcwl-form > div.yith_wcwl_wishlist_footer > div > div > small {
    display: none;
}

#yith_wcwl_share_url {
    width: 550px;
    background-color: transparent !important;
    border: 0px;
    font-size: 0.8rem;
    font-style: italic;
}

@media screen and (max-width: 1000px) {
  
    #yith-wcwl-form {
        margin: 0 5vw 0 5vw;
    }
    
    
    #yith-wcwl-form > div.yith_wcwl_wishlist_footer {
        padding: 0 0 0 0 !important;
    }

    tr {
        margin-top: -30px;
        padding-bottom: 60px;
    }

   td {
        height: 130px;
    }

  .product-thumbnail {
      justify-content: left !important;
      margin-top: 15px;

    }

    .wishlist_table tr td.product-thumbnail a {
        display: block;
        border: none;
        max-width: 80px;
        margin-top: 90px;
        margin-left: 10px;
    }

    #yith-wcwl-form > div.yith_wcwl_wishlist_footer > div {
        margin-top: 50px;
    }
}

/* CONTACT */

.forminator-module-260 {
    font-family: WindsorD !important;
}

.forminator-row {
    font-family: WindsorD !important;
}

.forminator-button {
    font-family: WindsorD !important;
    font-size: 1.2rem !important;
    -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
    filter: drop-shadow(0px 2px 2px #cccccc);
}

#forminator-module-260.forminator-design--material .forminator-input--wrap:after {
    background-color: #90C558 !important;
}

#forminator-module-260.forminator-design--material .forminator-is_active .forminator-label[class*="forminator-floating-"] {
    color: #90C558 !important;
}

#forminator-module-260.forminator-design--material .forminator-textarea--wrap:after {
    border-color: #90C558 !important;
}

.aakande {
	-webkit-animation: wobble-hor-bottom 2.5s linear infinite;
	        animation: wobble-hor-bottom 2.5s linear infinite;
}

 @-webkit-keyframes wobble-hor-bottom {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(-5deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes wobble-hor-bottom {    
    0% {
        transform: rotate(0deg);
    }

    25% {
       transform: rotate(-5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);

    }
}

/* PR */
figcaption a {
    font-family: WindsorD !important;
    font-size: 1.4rem !important;
}
.pr-bille-rod-gul img {
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.pr-bille-rod-gul img:hover {
    transform: scale(1.06) rotate(-4deg);
    transform-origin: bottom;
    cursor: pointer !important;
    -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
    filter: drop-shadow(0px 2px 2px #cccccc);
}

.pr-natsvaermer figcaption {
    margin-top: 70px;
}

.pr-natsvaermer img {
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.pr-natsvaermer img:hover {
    transform: scale(1.1) rotate(7deg);
    /* transform: rotate(20deg); */
    transform-origin: bottom;
    cursor: pointer !important;
    -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
    filter: drop-shadow(0px 2px 2px #cccccc);
}

.pr-bille-pink-gron figcaption{
    margin-top: 50px;
}

.pr-bille-pink-gron img {
    transition: all .4s ease-in-out;
    cursor: pointer;

}

.pr-bille-pink-gron img:hover {
    transform: scale(1.08) rotate(-5deg);
    transform-origin: bottom;
    cursor: pointer !important;
    -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
    filter: drop-shadow(0px 2px 2px #cccccc);
}


.no-sidebar:not(.site-boxed-container) .alignwide {
    margin: 0 0 180px 0;
}


/* PRESS RELEASE */

.pressrelease {
    -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
    filter: drop-shadow(0px 2px 2px #cccccc);
}

.press-download-button .wp-block-file__button {
    border-radius: 0;
    font-family: WindsorD !important;
    font-size: 1.2rem !important;
    text-transform: uppercase;
    background-color: #f1f6fe;
    padding: 8px 25px 8px 25px;
    color: #3D4F9B;
    -webkit-filter: drop-shadow(0px 2px 2px #cccccc);
    filter: drop-shadow(0px 2px 2px #cccccc);
}

.press-download-button {
    margin-top: 30px !important;

}

.press-download-button .wp-block-file__button:hover {
    color: #3D4F9B !important;
    background-color: #CDD8E6;
}

.press-download-button .wp-block-file__button:focus {
    color: #3D4F9B !important;
    background-color: #CDD8E6;
}

/* HISTORICAL RUNWAYS */

#sample_slider > div.owl-dots > button span {
    background-color: #CED6C2 !important;
}

#sample_slider > div.owl-dots > button.owl-dot.active span {
    background-color: #90C558 !important;
}

#sample_slider > div.owl-nav > button.owl-next {
    background-color: rgba(206,214,194,0.8) !important;
}

#sample_slider > div.owl-nav > button.owl-prev {
    background-color: rgba(206,214,194,0.8) !important;
}

.owl-carousel .owl-stage-outer {
    overflow: visible !important;
}

#sample_slider > div.owl-dots {
    bottom: -38px !important;
}

/* 
#sample_slider > div.white > div.sa_owl_theme > div.owl-nav > button.owl-next {
    background: url('https://frederikkekaysen.com/kea/12_helmstedt_exam/wordpress3/wp-content/uploads/2022/05/AÌŠkande.png') no-repeat center center !important;
} */

